body{
    background-color: #e6e4d9;
    font-family:'Lato',sans-serif;
    margin:0px auto;
    background-image: url('images/pattern.png');
}

#main-header{
    background-color: #a593c2;
}

nav{
    height:60px;
    width:1000px;
    margin:0 auto 20px;
}

#container{
    width:1000px;
    margin:0 auto;
}

#leftmenu{
    float:left;
    width:30%;
    margin-bottom:20px;
}

.searchbox{
    width:200px;
    padding:5px;
    margin:10px;
}

#main{
    float:right;
    width:70%;
}

footer{
    clear:both;
    width:100%;
}

header,
aside,
main,
article,
section,
footer,
figure,
nav{
    display:block;
}





















